.to-top {
    width: 37px;
    height: 37px;
    background: #007CC2;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    cursor: pointer;;
}