@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600&family=Poppins:wght@400;500;600&display=swap');

body {
  margin: 0;  
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-btn {
  padding: 14px 70px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  background: #007cc2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.primary-link {
  color: #007cc2;
  text-decoration: none;
  display: inline-block;
}

.section-title {
  font-weight: 600;
  color: #007cc2;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
}

.section-desc {
  font-size: 16px;
  line-height: 157%; 
  text-align: center; 
  color: rgba(62, 62, 62, 0.94);
}